#headertitle {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -15px;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 93.8%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#participantchoice{
  position: absolute;
  top: 80px;
  left: 233px;
}
#participantchoiceparagraph{
  position: absolute;
  top: 62px;
}
#participantselection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-basis: 50%;
  position: absolute;
  top: 110px;
  height:800px;
  width: 400px;
}
#textdivparticipant1{
  box-shadow: 0px 0px 10px red;
}
.textdivgroup {
  padding-right: 70px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  margin-right: 10px;
}
.buttonfiledialoggroup{
  height: 25px;
  width: 100px;
  position: relative;
  top: -38px;
  left: +130px;
}
.canvasgroup
{
  position:relative;
  left: +200px;
  top: -10px;
}
#submitbutton
{
  height: 25px;
  width: 100px; 
}
.spacegroup
{
  height: 15px;
}
.separatorgroup
{
  position: relative;
  left: +25px;
}
.persoparagraphgroup
{
  position: relative;
  left: +25px;
}
.persogroup
{
  position: relative;
  left: +25px;
  top: -5px;
  width: 298.4px;
}
.paragraphfiledialoggroup
{
  position: relative;
  left: +25px;
}
.divplayersgroup
{
text-align: center;
position:absolute;
height: 155px;
top: calc(50% - 77.5px);
left: calc(50% - 162.5px);
border-width: 3px;
border-color: black;
border-style: solid;
border-radius: 30px;
width: 325px;
}
#imgthreeplayers
{
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
}